name: Build and Test

on:
  pull_request:
    branches: ["master", "main", "dev"]
    types: [opened, synchronize, reopened, ready_for_review]
    paths-ignore:
      - '**/*.md'
      - '**/*.MD'
      - '.github/ISSUE_TEMPLATE/**'
      - '.github/CODEOWNERS'
      - 'docs/**'
      - 'infra/**'
  push:
    branches: ["master", "main", "dev"]
    paths-ignore:
      - '**/*.md'
      - '**/*.MD'
      - '.github/ISSUE_TEMPLATE/**'
      - '.github/CODEOWNERS'
      - 'docs/**'
      - 'infra/**'
  workflow_dispatch: {}
 
jobs:
  test:
    name: Test
    timeout-minutes: 10
    runs-on: ubuntu-latest
    concurrency:
      group: ${{ github.workflow }}-test-${{ github.event.pull_request.number || github.ref }}
      cancel-in-progress: true
 
    steps:
      - name: Check out code
        uses: actions/checkout@v4
        with:
          fetch-depth: 2
 
      - uses: pnpm/action-setup@v3
        with:
          version: 9
 
      - name: Setup Node.js environment
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'pnpm'
 
      - name: Install dependencies
        run: pnpm install --frozen-lockfile
 
      - name: Run tests
        run: pnpm test

  build:
    name: Build
    timeout-minutes: 15
    runs-on: ubuntu-latest
    concurrency:
      group: ${{ github.workflow }}-build-${{ github.event.pull_request.number || github.ref }}
      cancel-in-progress: true
 
    steps:
      - name: Check out code
        uses: actions/checkout@v4
        with:
          fetch-depth: 2
 
      - uses: pnpm/action-setup@v3
        with:
          version: 9
 
      - name: Setup Node.js environment
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'pnpm'
 
      - name: Install dependencies
        run: pnpm install --frozen-lockfile
 
      - name: Build
        run: pnpm build
