apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: grafana-storage
  namespace: cs3219
  labels:
    app: grafana
    project: cs3219
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
