apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: prometheus-storage
  namespace: cs3219
  labels:
    app: prometheus
    project: cs3219
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi

